.text_field {
  float: left;
  height: 100%;
  width: 100%;
}

.text {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  position: relative;
  vertical-align: middle;
  font-size: 20px;
  resize: none;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

.input_wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.button_wrapper {
  height: 40px;
  padding: 0 20px;
}

.button {
  cursor: pointer;
  color: #0084ff;
  font-weight: bold;
  display: inline-block;
  float: right;
}
