.text_field {
  float: left;
  height: 100%;
  width: 100%;
}

.text {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  position: relative;
  vertical-align: middle;
  font-size: 20px;
  resize: none;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

.input_wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.file_input{
  display: inline-block;
  position: relative;
}

.file_send {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file_btn {
  display: inline-block;
  cursor: pointer;
  background: #f8f9fa;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.send_btn{
  cursor: pointer;
  color: #329af0;
  font-size: 16px;
  font-weight: 900;
  display: inline-block;
  float: right;
  background: #f8f9fa;
  padding: 8px 16px;
  border-radius: 2px;
}