.chatlist_header {
  width: 100%;
  display: flex;
  height: 50px;
  color: #495057;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.chatlist_header i {
  color: #2395ff;
}

.chatlist_header i:hover {
  cursor: pointer;
}

.chatlist_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chatroom_container {
  position: relative;
  padding: 15px 20px 40px;
  cursor: pointer;
  font-size: 14px;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All s ease;
  transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}

.chatroom_container:hover {
  background-color: #f8f9fa;
  transform: rotate(0deg) scale(1.008) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.008) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.008) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.008) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.008) skew(0deg) translate(0px);
}

.chatroom_click {
  background-color: #f8f9fa;
}

.chatroom_container img {
  float: left;
  margin-right: 12px;
  border-radius: 50%;
}

.chatroom_username {
  line-height: 22px;
  color: #495057;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.chatroom_time {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  right: 3%;
  padding: 5px 0px 0 0;
  color: #999;
}

.chatroom_check {
  flex: 1;
}

.chatroom_preview {
  display: block;
  overflow: hidden;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #868e96;
  margin-top: 10px;
}

.hide_outer_modal {
  display: none;
}

.not_hide_outer_modal {
  display: block;
  position: absolute;
  padding: 0 0 0 10px;
  z-index: 1;
  width: 150px;
  height: 100px;
  top: 30px;
}

.not_hide_outer_delete_modal {
  display: block;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 100px;
  top: 150px;
}

.show_logout_inner_modal {
  background-color: #fefefe;
  position: relative;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 3px 8px rgba(0,0,0,.3);
  margin: 17px 0 0 0;
  width: 80%; /* Could be more or less, depending on screen size */
}

.show_logout_inner_modal:after, .show_logout_inner_modal:before {
  bottom: 100%;
  left: 12%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.show_logout_inner_modal:after {
  border-bottom-color: #fefefe;
  border-width: 10px;
  margin-left: -10px;
}

.show_logout_inner_modal:before {
  border-bottom-color: rgba(0,0,0,.15);
  border-width: 11px;
  margin-left: -11px;
}

.deleteCog {
  position: relative;
  width: 20px;
  height: 20px;
}

.show_inner_modal {
  background-color: #fefefe;
  position: relative;
  padding: 0 5px;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 3px 8px rgba(0,0,0,.3);
  width: 80%; /* Could be more or less, depending on screen size */
}

.show_inner_modal:after, .show_inner_modal:before {
  bottom: 100%;
  left: 12%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.show_inner_modal:after {
  border-bottom-color: #fefefe;
  border-width: 10px;
  margin-left: -10px;
}

.show_inner_modal:before {
  border-bottom-color: rgba(0,0,0,.15);
  border-width: 11px;
  margin-left: -11px;
}

.logout {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: -4px 0 0 0;
}

.logout:hover,
.logout:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logoutMsg {
  font-size: 14px;
}

.hide_chat_cog {
  display: none;
}

.chat_cog {
  flex: 1;
  padding: 20px 0 0 0;
  color: rgb(203, 203, 203);
}

.on_delete:hover {
  background-color: #0084ff;
  color: #FFFFFF;
  cursor: pointer;
}
