<!doctype html>
<html class="no-js" lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>upHere</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200i,300" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <style>
      html, body, #container {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="container">
    </div>
    <script src="<%= bundle %>"></script>
    <script src="https://use.fontawesome.com/497a5a2de8.js"></script>
  </body>
</html>
