.container {
  height: 100%;
}

.content {
  padding: 0 16px;
  text-align: center;
}

.coffee_cup {
  width: 20px;
  height: 24px;
  border: 1px #2196F3 solid;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.coffee_cup:after, .coffee_cup:before {
  position: absolute;
  content: "";
}

.coffee_cup:after {
  width: 5px;
  height: 12px;
  border: 1px #2196F3 solid;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  left: 20px;
}

.coffee_cup:before {
  width: 1px;
  height: 6px;
  background-color: #2196F3;
  top: -10px;
  left: 4px;
  box-shadow: 5px 0px 0px 0px #2196F3,
              5px -5px 0px 0px #2196F3,
              10px 0px 0px 0px #2196F3;
  -webkit-animation: steam 0.3s linear infinite alternate;
     -moz-animation: steam 0.3s linear infinite alternate;
          animation: steam 0.3s linear infinite alternate;
}

@-webkit-keyframes steam {
  0% { height: 0px; }
  100% { height: 6px; }
}

@-moz-keyframes steam {
  0% { height: 0px }
  100% { height: 6px; }
}

@keyframes steam {
  0%{ height: 0px }
  100% { height: 6px; }
}

.fb_login_button {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.fb_login_button h1 {
  font-size: 3em;
  letter-spacing: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.error_container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 700px) {
  body {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }

  .fb_login_button {
    display: none !important
  }

  .container::after {
    content: "Uphere은 웹에서 확인 하실 수 있어요";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: #343a40;
  }
}
