html, body, #container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  padding: 0 16px;
  text-align: center;
}

.fb_login_button {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.fb_login_button h1 {
  font-size: 3em;
  letter-spacing: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.navigation_bar {
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  height: 50px;
  width: 100%;
}

.navigation_bar ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.navigation_bar ul li {
  display: inline-block;
}

.navigation_bar ul li:last-of-type {
  float: right;
}
