.home_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.chatroom {
  flex: 1;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.friend_list, .chatlist {
  flex: 0 0 420px;
  overflow-y: auto;
}
