.container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  height: 100%;
}

.content {
  overflow: auto;
  flex: 1;
}

.content h3 {
  text-align: center;
}

.chatlog {
  max-width: 800em;
  margin: 0 auto;
  padding: 0px;
  word-break: break-word;
  white-space: pre-wrap;
}
.chatlog .chatlog_entry {
  margin: 1em;
}
.chatlog_entry {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  ;
}

.chatlog_entry.chatlog_entry_user {
  flex-direction: row-reverse;
}

.chatlog_avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;

}

.chatlog_entry.chatlog_entry_user
.chatlog_avatar {
  display: none;
}

.chatlog_entry .chatlog_message {
  position: relative;
  margin: 0 12px;
}

.chatlog_entry .chatlog_message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.chatlog_entry.chatlog_entry_user .chatlog_message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #0084ff;
}

.chatlog_message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 10px;
  font-weight: lighter;
  max-width: 55%;
}

.chatlog_entry.chatlog_entry_user .chatlog_message {
  border-top: 1px solid #0084ff;
  border-bottom: 1px solid #0084ff;
  background-color: #0084ff;
  color: #fff;
}

.footer {
  height: 150px;
  border-top: 1px solid rgba(0, 0, 0, .20);
}

.message_time {
  font-size: 14px;
  color: #999999;
}

.img_message {
  width: 300px;
}
